InstallationLogs/*.log

InstallationLogs/*.txt

masterobjs/*.sql

!masterobjs/sp_PE_JobMatrix.sql

!masterobjs/sp_PE_LongRequests__TEMPLATE.sql

!masterobjs/sp_PE_MDFused.sql

!masterobjs/sp_PE_QueryCamera__TEMPLATE.sql

!masterobjs/sp_PE_QueryProgress__TEMPLATE.sql

!masterobjs/sp_PE_SessionSummary__TEMPLATE.sql

!masterobjs/sp_PE_SessionViewer__TEMPLATE.sql

